* {
  font-family: Arial, sans-serif;
}

body {
  display: block;
}

a:hover {
  text-decoration: underline;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

.link {
  float: right;
  color: black;
  padding: 5px;
  text-decoration: none;
  font-size: small;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}

.title {
  text-align: center;
  font-size: 70px;
}

.inputFieldContainer:hover {
  box-shadow: 0 5px 6px -6px;
}

.inputFieldContainer {
  border-radius: 25px;
  border-width: thin;
  border-color: lightgray;
  border-style: solid;
  width: 580px;
  height: 45px;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.inputField {
  width: 85%;
  border: none;
  margin: 10px;
  height: 70%;
  font-size: 16px;
}

.inputFieldImages {
  width: 70%;
  border: none;
  margin: 10px;
  height: 70%;
  font-size: 16px;
}

.buttonStyle:hover {
  border: 1px solid;
  border-radius: 5px;
  border-color: lightgray;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
}

.buttonStyle {
  height: 36px;
  min-width: 54px;
  font-size: 14px;
  padding: 0px 16px;
  border-color: transparent;
  border-width: 1px;
  margin: 11px 4px;
  color: gray;
}

/*Image Search page styles*/
.imageSearchButton {
  background: transparent;
  border: none;
  margin: 0px;
  height: 24px;
  padding: 0px 16px;
  cursor: pointer;
}

#imageSearchLogo {
  background-image: url('../images/google_logo.png');
  background-size: 275px 92px;
  width: 275px;
  height: 90px;
}

#imageSubText {
  text-align: end;
  top: 60px;
  position: relative;
  color: #4285f4;
}

/*Advanced page styles*/
.advancedSearchContainer {
  margin: 30px;
  font-size: 20px;
}

.labelContainer {
  min-width: 167px;
  height: 50px;
  color: #222;
  font-size: 13px;
  vertical-align: middle;
  display: inline-block;
}

.labelStyle {
  height: 30px;
  display: table-cell;
  vertical-align: middle;
}

.advancedInputContainer {
  height: 50px;
  width: 50%;
  display: inline-block;
  min-width: 168px;
  max-width: 600px;
  vertical-align: middle;
}

.advancedInputField {
  width: 97%;
  height: 25px;
  padding: 1px 8px;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
}

.advancedInputField:focus {
  border-color: #4285f4;
}

.sideNoteContainer {
  display: inline-block;
  width: 32%;
  min-width: 160px;
  font-size: 11px;
  vertical-align: middle;
  height: 50px;
  padding-left: 5px;
  color: #222;
}

.advancedSearchButton {
  float: right;
  color: white;
  height: 30px;
  width: 120px;
  background-color: #4d90fe;
  border: 1px solid #3079ed;
}
